<div class="mb-[75px] max-sm:mb-0">
    <div class="container">
        <div
            class="cta__wrapper text-white rounded-[20px] text-center py-[120px] max-sm:py-[80px] max-sm:px-[30px] max-xs:py-[50px] max-xs:px-[20px]"
        >
            <div
                class="font-extrabold text-[56px] leading-[61px] max-w-[665px] mx-auto mb-[40px] max-sm:text-[45px] max-xs:text-[31px] max-xs:leading-[50px] max-xs:mb-[30px]"
            >
                {{ title }}
            </div>

            <button
                class="inline-block bg-[#ff7f5c] rounded-[10px] px-[42px] py-[28px] font-bold text-[18px] transition-colors duration-300 hover:bg-[#c76348] max-xs:w-full max-xs:text-center"
            >
                {{ buttonText }}
            </button>
        </div>
    </div>
</div>
