.footer__copyright,
.footer__sub-text,
.footer__newsletter-input::placeholder,
.footer__link,
.footer__text {
    font-family: "Manrope";
}

.footer__column-title.active:after {
    transform: rotate(-90deg);
    right: 2px;
}

@media (max-width: 767.98px) {
    .footer__column-title--list:after {
        content: "▸";
        position: absolute;
        transform: rotate(90deg);
        transition: all 0.3s;
        top: 0;
        right: 0;
    }
}
