@media (max-width: 767.98px) {
    .header__hamburger-menu {
        display: block;
        position: relative;
        min-width: 30px;
        margin-left: 30px;
        height: 20px;
        position: relative;
        z-index: 10;
    }
    .header__hamburger-menu:before,
    .header__hamburger-menu:after {
        content: "";
    }
    .header__hamburger-menu:before,
    .header__hamburger-menu:after,
    .header__hamburger-menu span {
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.2s ease 0s;
    }
    .header__hamburger-menu:before {
        top: 0;
    }
    .header__hamburger-menu:after {
        bottom: 0;
    }
    .header__hamburger-menu span {
        top: 9px;
    }
    .header__hamburger-menu.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__hamburger-menu.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__hamburger-menu.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: linear-gradient(292.12deg, #62bada -35.02%, #c9e7f2 78.96%);
        padding: 100px 10px 20px 10px;
        transition: all 0.2s ease 0s;
        overflow: auto;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: block;
    }
    .header__list-item {
        margin-bottom: 40px;
    }
    body.lock {
        overflow: hidden;
    }
}
@media (max-width: 479.98px) {
    .header__hamburger-menu {
        margin-left: 23px;
    }
}
@media (max-width: 360px) {
    .header__menu {
        padding-top: 90px;
    }
}
