<header class="absolute z-10 w-full py-[38px] max-md:py-[20px] header">
    <div class="container">
        <div class="flex justify-between items-center">
            <a
                href="#"
                class="max-md:relative max-md:z-10 text-[30px] font-bold transition-all duration-300 hover:opacity-50 logo"
                >{{ logo }}</a
            >

            <nav class="not-italic font-medium text-[14px] header__menu">
                <ul class="flex">
                    <li class="mr-[40px]" *ngFor="let item of menu">
                        <div *ngIf="item.type === 'dropdown'">
                            <span
                                class="cursor-pointer max-md:text-[20px] max-md:w-full relative header__link header__link--dropdown"
                            >
                                <span
                                    class="cursor-pointer max-md:text-[20px] max-md:pr-[30px] max-md:w-full inline-block relative pr-[19px] header__dropdown-title"
                                    >{{ item.title }}</span
                                >
                                <div
                                    class="absolute top-full -left-[20px] min-w-[200px] transition-all duration-300 translate-y-[15px] opacity-0 invisible max-md:hidden max-md:relative max-md:left-0 max-md:m-[-10px] max-md:transition-none header__dropdown"
                                >
                                    <ul
                                        class="rounded-[15px] shadow-[0_0_5px_gray] overflow-hidden max-md:rounded-none max-md:shadow-none header__dropdown-list"
                                    >
                                        <li class="header__dropdown-item" *ngFor="let element of item.dropdown">
                                            <a
                                                href="#"
                                                class="inline-block w-full p-[15px] bg-[#ececec] hover:bg-[#4f46ba] hover:text-white max-md:text-[16px] header__dropdown-link"
                                                >{{ element.title }}</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </span>
                        </div>

                        <a *ngIf="item.type === 'link'" href="#" class="relative pb-[10px] hover:underline header__link">{{
                            item.title
                        }}</a>
                    </li>
                </ul>
            </nav>

            <div class="flex max-md:z-10 max-md:relative max-md:items-center">
                <button
                    [class]="
                        btn.type === 'transparent'
                            ? 'not-italic font-medium text-[14px] bg-transparent self-center hover:underline max-[360px]:hidden'
                            : 'not-italic font-medium text-[14px] self-center hover:underline rounded-[50px] w-[137px] text-center bg-[#4f46ba] text-white ml-[50px] transition-all duration-300 hover:no-underline hover:bg-[#7063ff] max-lg:ml-[30px] max-md:py-[10px] max-sm:w-full max-sm:ml-[20px] max-[360px]:hidden button'
                    "
                    *ngFor="let btn of buttons"
                    (click)="toggleForm()"
                >
                    {{ btn.text }}
                </button>

                <div class="header__hamburger-menu">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
